@charset "UFT-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    background-color: black;
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    background-size: cover;
    
}
section{

    background-color: rgba(240, 248, 255, 0.429);
    width: 600px;
    margin: auto;
    
}
h1{
    text-align: center;
    padding: 10px;
}
img#pc{
    display: none;
}
img#print{
    display: none;
}
img#tablet{
    display: none;
}
img#tv{
    display: none;
}
