@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to bottom, #e1c4b9d4, #eec6a2
    );
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px#be9e829c;
    width: 600px;
    padding:10px;
    margin: auto;
}

h1{
    color: #078C5B ;
    text-align: center;
    text-shadow: 1px 1px 2px #07764d;

}

h2{
    color: #dc7575 ;
}
p{
    text-align: justify;
}

