@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}
header{
    display: none;
    
}

section{
    text-align: justify;
}
section::after{ content: ' Eu sou a Cris... ';
    
}